.playlist {
  width: 50%;
  height: 50vmin;
  margin-left: 5%;
  margin-top: 10vmin;
  /* background-color: rgb(150, 150, 150, 0.5); */
  background-color: rgb(180, 180, 180, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.playlist h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 2.5vw;
  margin: 5% 0;
}
.playlist .items {
  width: 90%;
  height: 80%;
  overflow-y: scroll;
  border: 3px solid black;
  margin-bottom: 10px;
}
.playlist .song:nth-child(2n) {
  background-color: rgba(153, 81, 81, 0.5);
}
.playlist .song:nth-child(2n + 1) {
  background-color: rgba(171, 33, 33, 0.5);
}

.song:hover {
  cursor: pointer;
  border: 2px solid rgb(249, 106, 106);
}

@media screen and (max-width: 800px) {
  .playlist {
    width: 80%;
    margin: 1vmin auto;
  }
}
