.player {
  width: 80%;
  margin: 20px auto;
}
.player .player-head {
  background-image: url(../img/metal-texture.gif);
  height: 100px;
  border: 2px solid rgb(109, 42, 42);
  border-radius: 10px;
}
.player .audio-player {
  background-color: rgba(0, 255, 255, 0.5);
  background-image: url(../img/brushed-alum.png);
  border: 2px solid rgb(109, 42, 42);
  border-radius: 5px;
}
.player .rhap_container {
  background-color: transparent;
}
