.title-item {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 0 10px;
}

.title-item img {
  height: 8vmin;
  max-width: 80%;
  object-fit: contain;
}
.title-item p {
  height: 10vmin;
  display: flex;
  align-items: center;
  font-size: max(1.3vw, 11px);
  text-shadow: 1px 1px 5px white;
}

.title-item p:nth-child(1) {
  width: 20%;
}
.title-item p:nth-child(2) {
  padding: 0 3%;
  width: 40%;
  font-style: italic;
}
.title-item p:nth-child(3) {
  width: 40%;
  justify-content: center;
  font-weight: bold;
}
